body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: #FFF;
    color: #434455;
}

:root {
    --active-link: #404BBF;
    --active-bg-btn: #404BBF;
    --color-title: #2E2F42;
    --color-link: #2E2F42;
}
/* =================== Componets =================== */
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;

}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-title);
}
.container{
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
}
/* =================== /Componets =================== */

/* =================== Header nav =================== */
.header-inner{
    display: flex;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}

.header-log-span {
    color: #2E2F42;
}
.header-nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-link);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--active-link);
}
.adress{
    margin-left: auto;
}
.adress-list{
    display: flex;
}
.adress-link {
    font-style: normal;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-list > li + li{
    margin-left: 40px;
}
.adress-link:hover,
.adress-link:focus {
    color: var(--active-link);
}
/* =================== /Header nav =================== */

/* =================== Hero =================== */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--active-bg-btn);
}
/* =================== /Hero =================== */

/* =================== Feature =================== */
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-title);
}
/* =================== /Feature =================== */

/* =================== Team =================== */
.team-item {
    background-color: #FFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-title);
}

.team {
    background-color: #F4F4FD;
}
/* =================== /Team =================== */

/* =================== Footer =================== */
.footer {
    background-color: #2E2F42;
}

.footer-log-span {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}
/* =================== /Footer =================== */

/* =================== Portfolio =================== */
.filter-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: #FFF;
    background-color: var(--active-bg-btn);
}
.app-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;    
        color: var(--color-title);
}
.app-text{
        color: #434455;
}
/* =================== /Portfolio =================== */